---
import { navigate } from "astro:transitions/client";
import Form from "../components/Form.astro";
import AuthLayout from "../layouts/AuthLayout.astro";

type FormField = {
  label: string;
  type: astroHTML.JSX.HTMLInputTypeAttribute;
  name: string;
  placeholder: string;
};

const fields: FormField[] = [
  {
    label: "Email",
    type: "email",
    placeholder: "Ingrese su email Ej: correo@correo.com",
    name: "email",
  },
  {
    label: "Password",
    type: "password",
    placeholder: "Ingrese una contraseña",
    name: "password",
  },
];

const onSubmit = () => {
  navigate("/");
};
---

<AuthLayout title="Iniciar Sesión">
  <main>
    <Form
      title="Iniciar Sesión"
      fields={fields}
      buttonText="Iniciar Sesión"
      onSubmit={onSubmit}
    />
    <p>¿Aún no tienes cuenta? <a href="/registro">Registro</a></p>
  </main>
</AuthLayout>

<style>
  main {
    width: 100%;
    padding: 6rem;
  }

  p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
  a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  a:hover {
    color: #dab892;
  }
</style>
