---
import "../sass/components/_index.scss";
type Link = {
  url: string;
  linkName: string;
};

interface NavbarProps {
  principalUrl: string;
  links: Link[];
  image?: string;
  isAuth?: boolean;
}

const { principalUrl, links, image, isAuth } = Astro.props;
---

<header class="navbar">
  <div class="navbar__brand">
    <a href={principalUrl}>
      <h2 class="navbar__title">Panaderia</h2>
    </a>
  </div>

  <nav class="navbar__navigation">
    <ul class="navbar__menu">
      {
        links.map(({ url, linkName }) => (
          <li class="navbar__item">
            <a href={url} class="navbar__link">
              {linkName}
            </a>
          </li>
        ))
      }
    </ul>

    <div class="navbar__actions">
      {
        isAuth ? (
          <>
            <div class="navbar__profile">
              <img
                class="navbar__avatar"
                src={image || "img/avatar-default.jpg"}
                alt="Imagen del Usuario"
              />
            </div>
            <a href="#" class="navbar__button navbar__button--logout">
              Cerrar Sesión
            </a>
          </>
        ) : (
          <>
            <a href="/login" class="navbar__button">
              Iniciar Sesión
            </a>
            <a href="/registro" class="navbar__button">
              Registrar
            </a>
          </>
        )
      }
    </div>
  </nav>
</header>
